/*----------------------------
  Responsive S (768px) Tablet
 ---------------------------*/

 @media screen and (min-width: 768px) {
    #Sidebar{
        flex-basis: 150px;

    }

    .logo-small{
        display: none;
    }

    .logo{
        display: block;
    }

    #Sidebar a, span{
        display: inline;
    }

    .sidebar-bottom{
        padding-left: 10px;
    }

    .playlist{
        display: flex;
    }

 }

/*---------------------------
  Responsive MD (1024 px) PC
----------------------------*/
@media screen and (min-width: 1024px){
    #Sidebar{
        flex-basis: 230px;
        font-size: 16px;
    }

    header button{
        font-size: 14px;
    }

    #navbar li{
        font-size: 16px;
        flex-wrap: wrap;
        flex-basis: calc(100% / 5 - 80px);
    }
}

/*--------------------------
 Responsive LG (1280 px) TV
 --------------------------*/
 @media screen and (min-width: 1280px){
    #navbar li{
        flex-basis: 100%;
        flex-wrap: nowrap;
    }
 }