/*----------------------------
  Responsive S (768px) Tablet
 ---------------------------*/

 @media screen and (min-width: 768px) {
    #Sidebar{
        flex-basis: 150px;

    }

    .logo-small{
        display: none;
    }

    .logo{
        display: block;
    }

    #Sidebar a, span, hr{
        display: inline;
    }

    .sidebar-bottom img{
        width: 15%;
    }

    .sidebar-bottom{
        padding-left: 10px;
    }

    .playlist{
        display: flex;
    }

    .cards{
        flex-wrap: wrap;
    }

    .single-card{
        width: 25%;
    }

    h3{
        font-size: 1.2em;
    }

    p{
        font-size: 0.8em;
    }
    .midle{
        width: 55%;
    }

 }

/*---------------------------
  Responsive MD (1000 px) PC
----------------------------*/
@media screen and (min-width: 1000px){
    #Sidebar{
        flex-basis: 230px;
        font-size: 16px;
    }

    .sidebar-top img {
        width: 60%;
     }

    header button{
        font-size: 14px;
    }

    .single-card{
        width: calc(100%/6);
    }

    #navbar ul{
        font-size: 14px;
    }
    .midle{
        width: 60%;
    }
}

/*--------------------------
 Responsive LG (1200 px) TV
 --------------------------*/
 @media screen and (min-width: 1200px){
   
    h3{
        font-size: 1.1em;
    }

    p{
        font-size: 0.9em;
    }

    .midle{
        width: 65%;
    }

 }