/*---------------------
  Responsive S (570px)
 ---------------------*/

 @media screen and (min-width: 570px) {
    header{
        width: 150px;
        align-items: start;
    }

    .logo-small{
        display: none;
    }

    .logo{
        display: block;
    }

    header a, span{
        display: inline;
    }

    .playlist{
        display: flex;
    }
 }