/*----------------------------
  Responsive S (768px) Tablet
 ---------------------------*/

 @media screen and (min-width: 768px) {
    #Sidebar{
        flex-basis: 150px;

    }

    .logo-small{
        display: none;
    }

    .logo{
        display: block;
    }

    #Sidebar a, span{
        display: inline;
    }

    .sidebar-bottom{
        padding-left: 10px;
    }

    .playlist{
        display: flex;
    }

    .cards{
        flex-wrap: wrap;
    }

    .single-card{
        width: calc(100% / 4 - 30px);
    }

    h3{
        font-size: 1.2em;
    }

    p{
        font-size: 0.8em;
    }
    .midle{
        width: 55%;
    }

 }

/*---------------------------
  Responsive MD (1024 px) PC
----------------------------*/
@media screen and (min-width: 1024px){
    #Sidebar{
        flex-basis: 230px;
        font-size: 16px;
    }

    header button{
        font-size: 14px;
    }

    #navbar ul{
        font-size: 14px;
    }
    .midle{
        width: 60%;
    }
}

/*--------------------------
 Responsive LG (1200 px) TV
 --------------------------*/
 @media screen and (min-width: 1200px){
    .single-card{
        width: calc(100% / 6 - 50px);
    }
    h3{
        font-size: 1.1em;
    }

    p{
        font-size: 0.9em;
    }

    .midle{
        width: 65%;
    }

 }