*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 500px;
}

/*------------
     tags
--------------*/

.border{
    border: 1px dashed yellowgreen;
}

main{
    height:calc(100vh - 80px);
    background-color: rgb(43, 41, 41);
    overflow: auto;
}

footer{
    height: 80px;
    background-color: gray;  
}

#sito{
    display: flex;
}

header{
    background-color: black;
}

#content-sito {
    background-color: darkslategray;
}


/*------------
Asdfsfsscdsfs
-------------*/

header a{
    display: none;
}




